VITE_AFFORDMED_EMAIL=your_email@example.com
VITE_AFFORDMED_NAME=your_name
VITE_AFFORDMED_ROLL_NO=your_roll_no
VITE_AFFORDMED_ACCESS_CODE=your_access_code
VITE_AFFORDMED_CLIENT_ID=your_client_id
VITE_AFFORDMED_CLIENT_SECRET=your_client_secret
VITE_AFFORDMED_ACCESS_TOKEN=
